@model LugNutzPremium.Models.MaintenanceTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaintenanceTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceTaskTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceTaskTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceTaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceTaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDueAtMileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDueAtMileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetCompleteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetCompleteDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaintenanceTaskId" class="btn btn-outline-light">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
</div>
