@model IEnumerable<LugNutzPremium.Models.Message>

    @{
        ViewData["Title"] = "List";
    }

    <h1>List</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MessageContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageContent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>

                    @if (item.UserId == ViewBag.currentUser.Id)
                    {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MessageId" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.MessageId" class="btn btn-outline-primary">Delete</a>
                    </td>
                    }
                </tr>
            }
        </tbody>
    </table>
