@model IEnumerable<LugNutzEnterprize.Models.WishList>

@{
    ViewData["Title"] = "Index";
}

<h1>Wish List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WishListTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WishListDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComplete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WishListTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WishListDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WishListId" class="btn btn-outline-primary">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.WishListId" class="btn btn-outline-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.WishListId" class="btn btn-outline-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
