@model LugNutzEnterprize.Models.Vehicle

@{
    ViewData["Title"] = "Details";
    var imagePath = "~/images/" + (Model.ImagePath ?? "noimage.jpg");
}

<h1>Details</h1>

<div>
    <h4>Vehicle</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.VehicleId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
    <hr />
    <div class="card-body text-center">
        <img class="card-img-top imageThumbnail" src="@imagePath" asp-append-version="true" />
    </div>        
    <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModelYear)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModelYear)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Make)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Make)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VehicleMileage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehicleMileage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ABS)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ABS)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ActiveSafetySysNote)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ActiveSafetySysNote)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AdaptiveCruiseControl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AdaptiveCruiseControl)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AdaptiveDrivingBeam)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AdaptiveDrivingBeam)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AdaptiveHeadlights)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AdaptiveHeadlights)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AdditionalErrorText)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AdditionalErrorText)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AirBagLocCurtain)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AirBagLocCurtain)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AirBagLocFront)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AirBagLocFront)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AirBagLocKnee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AirBagLocKnee)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AirBagLocSeatCushion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AirBagLocSeatCushion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AirBagLocSide)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AirBagLocSide)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AutoReverseSystem)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AutoReverseSystem)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AutomaticPedestrianAlertingSound)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AutomaticPedestrianAlertingSound)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AxleConfiguration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AxleConfiguration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Axles)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Axles)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BasePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BasePrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryA)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryA)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryA_to)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryA_to)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryCells)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryCells)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryInfo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryKWh)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryKWh)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryKWh_to)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryKWh_to)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryModules)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryModules)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryPacks)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryPacks)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryV)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryV)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BatteryV_to)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BatteryV_to)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BedLengthIN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BedLengthIN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BedType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BedType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BlindSpotMon)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BlindSpotMon)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BodyCabType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BodyCabType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BodyClass)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BodyClass)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BrakeSystemDesc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BrakeSystemDesc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BrakeSystemType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BrakeSystemType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BusFloorConfigType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BusFloorConfigType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BusLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BusLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BusType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BusType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CAN_AACN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CAN_AACN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CIB)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CIB)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CashForClunkers)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CashForClunkers)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ChargerLevel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ChargerLevel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ChargerPowerKW)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ChargerPowerKW)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CoolingType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CoolingType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurbWeightLB)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurbWeightLB)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomMotorcycleType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomMotorcycleType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DaytimeRunningLight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DaytimeRunningLight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DestinationMarket)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DestinationMarket)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DisplacementCC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DisplacementCC)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DisplacementCI)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DisplacementCI)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DisplacementL)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DisplacementL)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Doors)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Doors)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DriveType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DriveType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DriverAssist)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DriverAssist)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DynamicBrakeSupport)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DynamicBrakeSupport)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EDR)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EDR)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ESC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ESC)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EVDriveUnit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EVDriveUnit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ElectrificationLevel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ElectrificationLevel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineConfiguration)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineConfiguration)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineCycles)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineCycles)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineCylinders)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineCylinders)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineHP)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineHP)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineHP_to)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineHP_to)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineKW)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineKW)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineManufacturer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineManufacturer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EngineModel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EngineModel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EntertainmentSystem)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EntertainmentSystem)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ErrorCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ErrorCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ErrorText)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ErrorText)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ForwardCollisionWarning)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ForwardCollisionWarning)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuelInjectionType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuelInjectionType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuelTypePrimary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuelTypePrimary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FuelTypeSecondary)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FuelTypeSecondary)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GCWR)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GCWR)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GCWR_to)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GCWR_to)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GVWR)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GVWR)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GVWR_to)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GVWR_to)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KeylessIgnition)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KeylessIgnition)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LaneDepartureWarning)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LaneDepartureWarning)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LaneKeepSystem)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LaneKeepSystem)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LowerBeamHeadlampLightSource)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LowerBeamHeadlampLightSource)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ManufacturerId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ManufacturerId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MotorcycleChassisType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MotorcycleChassisType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MotorcycleSuspensionType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MotorcycleSuspensionType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NCSABodyType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NCSABodyType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NCSAMake)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NCSAMake)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NCSAMapExcApprovedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NCSAMapExcApprovedBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NCSAMapExcApprovedOn)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NCSAMapExcApprovedOn)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NCSAMappingException)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NCSAMappingException)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NCSAModel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NCSAModel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NCSANote)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NCSANote)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Note)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OtherBusInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OtherBusInfo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OtherEngineInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OtherEngineInfo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OtherMotorcycleInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OtherMotorcycleInfo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OtherRestraintSystemInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OtherRestraintSystemInfo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OtherTrailerInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OtherTrailerInfo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ParkAssist)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ParkAssist)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PedestrianAutomaticEmergencyBraking)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PedestrianAutomaticEmergencyBraking)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlantCity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlantCity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlantCompanyName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlantCompanyName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlantCountry)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlantCountry)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PlantState)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PlantState)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PossibleValues)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PossibleValues)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pretensioner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pretensioner)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RearCrossTrafficAlert)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RearCrossTrafficAlert)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RearVisibilitySystem)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RearVisibilitySystem)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SAEAutomationLevel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SAEAutomationLevel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SAEAutomationLevel_to)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SAEAutomationLevel_to)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SeatBeltsAll)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SeatBeltsAll)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SeatRows)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SeatRows)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Seats)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Seats)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SemiautomaticHeadlampBeamSwitching)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SemiautomaticHeadlampBeamSwitching)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Series)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Series)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Series2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Series2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SteeringLocation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SteeringLocation)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SuggestedVIN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SuggestedVIN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TPMS)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TPMS)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TopSpeedMPH)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TopSpeedMPH)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TrackWidth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TrackWidth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TractionControl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TractionControl)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TrailerBodyType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TrailerBodyType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TrailerLength)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TrailerLength)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TrailerType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TrailerType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TransmissionSpeeds)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TransmissionSpeeds)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TransmissionStyle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TransmissionStyle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trim)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trim)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Trim2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Trim2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Turbo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Turbo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VIN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VIN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ValveTrainDesign)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ValveTrainDesign)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VehicleType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehicleType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WheelBaseLong)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WheelBaseLong)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WheelBaseShort)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WheelBaseShort)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WheelBaseType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WheelBaseType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WheelSizeFront)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WheelSizeFront)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WheelSizeRear)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WheelSizeRear)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Wheels)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Wheels)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Windows)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Windows)
            </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehicleId" class="btn-primary">Edit</a>
    <a asp-action="Index" class="btn-primary">Back to List</a>
</div>
