@model IEnumerable<LugNutzEnterprize.Models.Vehicle>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleMileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ABS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveSafetySysNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdaptiveCruiseControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdaptiveDrivingBeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdaptiveHeadlights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalErrorText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirBagLocCurtain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirBagLocFront)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirBagLocKnee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirBagLocSeatCushion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirBagLocSide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutoReverseSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AutomaticPedestrianAlertingSound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AxleConfiguration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Axles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryA_to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryCells)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryKWh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryKWh_to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryModules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryPacks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatteryV_to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedLengthIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlindSpotMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyCabType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BodyClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrakeSystemDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrakeSystemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusFloorConfigType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAN_AACN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CashForClunkers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargerLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargerPowerKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoolingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurbWeightLB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomMotorcycleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaytimeRunningLight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationMarket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplacementCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplacementCI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplacementL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverAssist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DynamicBrakeSupport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EDR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EVDriveUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectrificationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineConfiguration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineCycles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineCylinders)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineHP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineHP_to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineManufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntertainmentSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErrorCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErrorText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForwardCollisionWarning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelInjectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelTypePrimary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelTypeSecondary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GCWR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GCWR_to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GVWR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GVWR_to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeylessIgnition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaneDepartureWarning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaneKeepSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowerBeamHeadlampLightSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotorcycleChassisType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotorcycleSuspensionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCSABodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCSAMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCSAMapExcApprovedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCSAMapExcApprovedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCSAMappingException)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCSAModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NCSANote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherBusInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherEngineInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherMotorcycleInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherRestraintSystemInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherTrailerInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkAssist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PedestrianAutomaticEmergencyBraking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PossibleValues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pretensioner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RearCrossTrafficAlert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RearVisibilitySystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAEAutomationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAEAutomationLevel_to)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatBeltsAll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatRows)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemiautomaticHeadlampBeamSwitching)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Series2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteeringLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedVIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TPMS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopSpeedMPH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TractionControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrailerBodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrailerLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrailerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransmissionSpeeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransmissionStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trim2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turbo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValveTrainDesign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WheelBaseLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WheelBaseShort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WheelBaseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WheelSizeFront)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WheelSizeRear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Windows)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleMileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ABS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveSafetySysNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdaptiveCruiseControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdaptiveDrivingBeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdaptiveHeadlights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalErrorText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirBagLocCurtain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirBagLocFront)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirBagLocKnee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirBagLocSeatCushion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirBagLocSide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutoReverseSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutomaticPedestrianAlertingSound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AxleConfiguration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Axles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryA_to)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryCells)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryKWh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryKWh_to)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryModules)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryPacks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BatteryV_to)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedLengthIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlindSpotMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyCabType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrakeSystemDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrakeSystemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusFloorConfigType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAN_AACN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashForClunkers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargerLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChargerPowerKW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoolingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurbWeightLB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomMotorcycleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaytimeRunningLight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationMarket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplacementCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplacementCI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplacementL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverAssist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DynamicBrakeSupport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EDR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EVDriveUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectrificationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineConfiguration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineCycles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineCylinders)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineHP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineHP_to)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineKW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineManufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntertainmentSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ErrorText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForwardCollisionWarning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelInjectionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelTypePrimary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelTypeSecondary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GCWR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GCWR_to)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GVWR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GVWR_to)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeylessIgnition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaneDepartureWarning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaneKeepSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowerBeamHeadlampLightSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotorcycleChassisType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotorcycleSuspensionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCSABodyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCSAMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCSAMapExcApprovedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCSAMapExcApprovedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCSAMappingException)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCSAModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NCSANote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherBusInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherEngineInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherMotorcycleInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherRestraintSystemInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherTrailerInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkAssist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PedestrianAutomaticEmergencyBraking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PossibleValues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pretensioner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RearCrossTrafficAlert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RearVisibilitySystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAEAutomationLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAEAutomationLevel_to)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatBeltsAll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatRows)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemiautomaticHeadlampBeamSwitching)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Series2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteeringLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestedVIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TPMS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopSpeedMPH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TractionControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerBodyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransmissionSpeeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransmissionStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trim2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turbo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValveTrainDesign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WheelBaseLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WheelBaseShort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WheelBaseType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WheelSizeFront)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WheelSizeRear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Windows)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
