@model IEnumerable<LugNutzEnterprize.Models.Vehicle>

@{
    ViewData["Title"] = "List";
}

<h1>Vehicle List</h1>

<div>
    <form asp-action="Create" asp-controller="Vehicles" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Add a Vehicle" class="btn btn-primary" />
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleMileage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <a asp-controller="Vehciles" asp-route-id="@item.VehicleId"> </a>
            var imagePath = "~/images/" + (item.ImagePath ?? "noimage.jpg");
            <tr>
                <td>
                    <img class="" src="@imagePath" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleMileage)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VehicleId" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.VehicleId" class="btn btn-outline-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.VehicleId" class="btn btn-outline-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
