@model LugNutzPremium.Models.WishList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WishList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WishListTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WishListTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WishListDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WishListDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WishListId" class="btn btn-outline-light">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-light">Cancel</a>
</div>
